/* Modal title */
.modal-title {
  margin-top: 0;
}

/* Form group */
.form-group {
  margin-bottom: 1rem;
}

/* Form input control */
.form-control {
  display: block;
  width: 90%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Modal buttons container */
.modal-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.button {
    background-color: #333; /* Hintergrundfarbe */
    border: none; /* Kein Rahmen */
    color: white; /* Schriftfarbe */
    padding: 8px 16px; /* Innenabstand */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung */
    display: inline-block; /* Als Blockelement behandeln */
    font-size: 16px; /* Schriftgröße */
    margin-top: 50px; /* Außenabstand */
    cursor: pointer; /* Mauszeiger ändern */
    border-radius: 4px; /* Abrundung der Ecken */
}

.button:hover {
    background-color: #646363; /* Hintergrundfarbe bei Hover */
}
